<div class="span6 newsfeeds">
<h3>Social Media</h3>
  <div class="row">
    <div class="span12">
      <a href="https://twitter.com/bigaviationcom" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @bigaviationcom</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="span12">
      <iframe src="https://www.facebook.com/plugins/like.php?href=www.facebook.com/BigAviation"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
    </div>
  </div>
</div>
