<ul class="article-list">
	<% stories.each_with_index do |article, index| %>
		<li class="<%= index >= 7 ? "article-header hide" : "article-header" %>">
			<%= link_to article.title, article.url, target: "_blank" %>
		</li>
	<% end %>
	<% if stories.size > 7 %>
	    <strong><a class="more-less">more</a></strong>
	<% end %>
</ul>
